.hero ul > li {
  margin-top: 1em;
}

.hero ul > li:first-child {
  margin-top: 0;
}

.hero .image-container {
  position: relative;
}

.hero .small-image {
  height: 50%;
}
.hero .small-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero .word-container {
  padding: 1.5em 2em;
  position: absolute;
  bottom: 0;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.8);
}
.hero .word-container h1 {
  font-weight: 700;
  color: white;
  font-size: clamp(2rem, 2.5vw, 4rem);
}

.hero .advert-container {
  position: absolute;
  inset: 0;
  color: white;
  text-align: center;
}

.hero .advert-container h1 {
  font-weight: 700;
  letter-spacing: 0.125em;
}
.hero .advert-container p {
  font-weight: 700;
  font-size: 0.75rem;
  margin-top: -1.75em;
}

.hero .advert-container .spacing {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  margin-top: -1em;
}

.hero .link-btn {
  background-color: #f36c04;
  padding: 0.125em 0.5em;
  font-size: 0.5125em;
  border: none;
  color: white;
  border-radius: 3rem;
}
.hero .span-e {
  background-color: #244fd3;
  padding: 0.225em;
  border-radius: 50%;
  margin-left: 0.125rem;
}

.hero .span-rb {
  color: #f36c04;
  padding: 0.225em;
}
.hero .block1 {
  font-size: 0.5rem;
}
